body
{
    text-align: center;
}
.d > button
{ 
    border: 2px solid black;
    border-radius: 60px;
    height: 5rem;
    width: 5rem;
    margin: 0.3rem;
    font-size: 35px;
}
.contain
{
    display: inline-block;
    border-radius: 6px;
    text-align: center;
}
.d5 > :first-child
{
    width: 11rem;
}
input
{
    width: 22rem;
    height:3rem;
    text-align: right;
}
.orange
{
    background-color: orange;
    color: white;
}
.grey
{
    background-color: grey;
}
.black
{
    background-color: black;
    color: white;
}


@media (max-width:398px) {
.d > button
{
    height: 3rem;
    width: 3rem;  
    border-radius: 50px; 
    font-size: 20px;
}
.d5 > :first-child
{
    width: 7rem;
} 
input
{
    width: 14rem;
    height: 2rem;   
}

}